{% extends "index.html" %}
{% block showGraph %}
<div id="graph"></div>{{browserUrl|safe}}
</main>
<script type="text/javascript">
    function init() {
                var neo4jd3 = new Neo4jd3('#graph', {
                    minCollision: 60,
                    neo4jDataUrl: '{{graph}}',
                    nodeRadius: 25,
                    onRelationshipDoubleClick: function(relationship) {
                        console.log('double click on relationship: ' + JSON.stringify(relationship));
                    },
                    zoomFit: true
                });
            }
    window.onload = init;
</script>{% endblock %}